body {
  background-color: #2c3e50;
}

.clock {
  width: 100%;
}

.clock > h1 {
  width: 100%;
  font-size: 100px;
  color: #fff;
  text-shadow: 0px 0px 4px #999;
  text-align: center;
  margin: 70px auto 0px;
}

.form,
.greetings {
  display: none; 
  width: 100%;
  text-align: center;
}

.showing {
  display: block;
}

.form > input[type="text"],
.toDoForm > input[type="text"] {
  width: 528px;
  height: 70px;
  background: transparent;
  border: none;
  margin: 20px auto 0px;
  text-align: center;
  font-size: 30px;
  color: #fff;
}

.form > input[type="text"]::placeholder,
.toDoForm > input[type="text"]::placeholder {
  color: #fff;
  opacity: 0.9;
  font-size: 30px;
  text-align: center;
  line-height: 30px;
}

.form > input[type="text"]:active,
.form > input[type="text"]:focus,
.toDoForm > input[type="text"]:active,
.toDoForm > input[type="text"]:focus {
  border-bottom: 2px solid rgba(255, 255, 255, 0.9);  
  outline: none;
  opacity: 1;
}

.greetings {
  text-align: center;
  box-sizing: border-box;
  font-size: 50px;
  color: #fff;  
  text-shadow: 0px 0px 4px #999;
  line-height: 70px;
  margin: 30px auto 50px;
}

.toDoForm {
  width: 100%;
  text-align: center;
}

.toDoForm > input[type="text"] {
  width: 528px;
  height: 70px;
  background: transparent;
  border: none;
  margin: 20px auto 0px;
  text-align: center;
  font-size: 30px;
  color: #fff;
}

.toDoList {
  width: 35%;
  height: 350px;
  list-style-type: none;
  margin: 50px auto 40px;
  padding: 0;
  color: #000;
  overflow: auto;
}

.toDoList > li {
  width: 95%;
  padding: 20px 30px;
  box-sizing: border-box;
  background: #fff;
  margin: 0px auto 20px;
  border-radius: 14px;
  font-size: 15px;
  font-weight: bold;
}

.toDoList > li > span {
  width: 90%;
  display: inline-block;
  text-overflow:ellipsis;
  white-space:nowrap;
  word-wrap:normal;
  overflow:hidden;
}

.delButton {
  cursor: pointer;
  background: none;
  border: none;
  float: right;
}

.delButton:active,
.delButton:focus {
  outline: none;
}

.weather {
  display: block;
  position: absolute;
  top: 15px;
  right: 30px;
  font-size: 15px;
  color: #fff;
  text-shadow: 0px 0px 4px #777;
  text-align: center;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.bgImage {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  animation: fadeIn .5s linear;
}

/* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px #999; 
  border-radius: 10px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #ccc; 
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #999; 
}